*
{
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(204, 204, 238);
}
.quiz-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0; /* Couler du fond */
  margin: 0;
}

.logo {
  max-width: 320px; 
  max-height: 320px; 
  margin-right: 10px; 
}

.accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Isso faz com que o contêiner ocupe 100% da altura da tela */
  }

  .button-container {
    margin-top: 40px; /* Ajuste conforme necessário */
  }

  .button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona espaço à direita do botão */
  }
  
  .text {
    font-size: 24px; /* Changer la taille */
    font-weight: bold; /*negrito*/
  }
  
  
 

